* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.error {
  color: red;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.layout-body {
  display: flex;
  flex: 1;
  min-height: calc(100vh - 65px - 70px);
  background: #0b0b0b;
  position: relative;
  overflow: hidden;
}

.layout-content {
  margin: 75px 0 0 0px;
  padding: 20px;
  width: 100%;
  overflow-y: auto;
  color: #fff;
}